<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>com.controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>displayWords</servlet-name>
        <servlet-class>com.controller.DisplayUnitsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>displayWords</servlet-name>
        <url-pattern>/words</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addWords</servlet-name>
        <servlet-class>com.controller.AddUnitsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addWords</servlet-name>
        <url-pattern>/add-words</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteWords</servlet-name>
        <servlet-class>com.controller.DeleteUnitsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteWords</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>trainingController</servlet-name>
        <servlet-class>com.controller.TrainingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>trainingController</servlet-name>
        <url-pattern>/training</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateUnitsController</servlet-name>
        <servlet-class>com.controller.UpdateUnitsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateUnitsController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>settingsController</servlet-name>
        <servlet-class>com.controller.SettingsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>settingsController</servlet-name>
        <url-pattern>/settings</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>/jsp/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
