.helper-chars{
    padding:2px;
    color: #9A9595;
    border-radius: 5px;
    margin-left: 10%;
    font-size: 1.3em;
    border: 1px solid #D5D8D8;
    position: absolute;
    left: 11%;
    top: 7%;
}

.char{
    display: inline-block;
    width:25px;
    height:25px;
    padding: 4px;
    cursor: pointer;
    position: relative;
}

.char:hover{
    color: #64AFFF;
}