body{
    background-image: url("../img/home-bg.jpg") ;
    background-size: cover;
}

#main-menu{
    width: 330px;
    height: 180px;
    border-radius: 5%;
    background: #000;
    padding-top: 20px;
    margin-top: 280px;
    margin-left: 450px;
    text-align: center;
    opacity: 0.85;
}

#main-menu:hover{
    opacity: 1;
}

#main-menu .option a{
    display: block;
    color: #fff;
    font-size: 1.2em;
    font-weight: bolder;
    cursor: pointer;
    padding-bottom: 15px;
    font-family: 'Pacifico', cursive;
}

#main-menu .option a:hover{
    color:#F57C73;
}

#main-menu a{
    color: #fff;
}
