#container{
    text-align: center;
}

main{
    padding-top: 150px;
    margin: auto;
    height: 100%;
    text-align: center;
    background: #f4f4f4;
}

input[type="text"]{
    height: 30px;
    text-align: center;
}

input[type="text"]{
    height: 30px;
    text-align: center;
    border-radius:4px;
    border:1px solid #E2DCDC;
    background:#fff;
}

input[type="text"]:focus{
    outline: none;
    border: 1px solid rgba(85, 140, 193, 0.54);
}


.btn{
    margin-top: 1.5%;
    margin-right: 0.4%;
    margin-left: 0.4%;
    color:#fff;
    outline: none;
    width: 7%;
    height: 40px;
    font-size: 1.17em !important;
    font-weight: 600 !important;
    letter-spacing: 0.6px;
    font-family: 'Merriweather', serif;

}

.home-btn{
    margin-top: 3%;
    width:14%;
    background: rgba(128, 192, 234, 0.83);
}

.home-btn:hover{
    background: rgb(93, 191, 255);
}

.help-btn{
    background: rgba(216, 205, 72, 0.67);
}

.help-btn:hover{
    background: rgb(216, 205, 72);
}

.answer-btn{
    background:#5EAD84
}

.answer-btn:hover{
    background: #3BBE7C;
}

.helper-chars{
    top: 295px;
    left: 230px;
}

