#container{
    text-align: center;
}

main{
    padding-top: 150px;
    margin: auto;
    height: 100%;
    text-align: center;
    background: #f4f4f4;
}

input[type="text"]{
    height: 30px;
    text-align: center;
}

.btn{
    margin-top: 1.5%;
    margin-right: 0.4%;
    margin-left: 0.4%;
    color:#fff;
    font-size: 1.1em !important;
    font-weight: bold!important;
    letter-spacing: 1px;
    outline: none;
    width: 8%;
    height: 40px;
    font-family: 'Merriweather', serif;
}

.home-btn{
    margin-top: 3%;
    width:14%;
    background: #CCCCCC;

}

.home-btn:hover{
    background: #89AB92;
}

.help-btn{
    background: #DACC8A;
}

.help-btn:hover{
    background: #D3BB4C;
}

.answer-btn{
    background:#5EAD84
}

.answer-btn:hover{
    background: #3BBE7C;
}

.helper-chars{
    top: 295px;
    left: 230px;
}

