main{
    margin: auto;
    padding-top: 150px;
    height: 100%;
    text-align: center;
    background: #f4f4f4;
}

#container{
    padding-top: 1%;
    padding-bottom: 1%;
    background: #fff;
}

.btn{
    margin-top: 1.5%;
    margin-right: 0.4%;
    margin-left: 0.4%;
    color:#fff;
    font-size: 1.17em;
    outline: none;
    width: 7%;
    height: 40px;
}

.word,.dash{
    font-size: 1.2em;
}

.ger-word{
    font-weight: bold;
}

.home-btn{
    background:#5EAD84;
}

.home-btn:hover{
    background: #20B065;
}

.delete-btn{
    background: #EB8F8F;
}
.delete-btn:hover{
    background: #ED6B6B;
}

.pair {
    cursor: pointer;
}
.to-delete-no-line-throw{
    opacity: 0.2;
}
.to-delete {
    opacity: 0.2;
    position: relative;
    display: inline-block;
}

.to-delete::before {
    content: '';
    border-bottom: 2px solid #000;
    position: absolute;
    right: 0;
    width: 100%;
    top: 50%;
}

input[type="text"]{
    border: none;
    font-size: 16px;
    height: 6%;
    outline: 0;
    padding: 15px;
    width: 15%;
    border-radius: 20px;
    background: #D0DEE0;
    color: #222B31;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.ger-field::-webkit-input-placeholder,
.rus-field::-webkit-input-placeholder {
    font-style: italic;
}

.ger-field, .rus-field{
    display: inline-block;
}

.add-icon{
    width:43px;
    height:43px;
    background-image: url("../img/add.png");
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 29%;
    bottom: 55%;
}

.wrapper{
    position: relative;
}